body{
  background: #f7f7f9;
}

.country {
  padding-top: 10px;
  min-height: 230px;
}

.country:hover{

  background: #e9e9e9; 
  cursor: pointer;   
}

.countries ul{
  list-style-type: none;
}

.country__flag img{
  max-height: 100px;
}

.guess-flag__image img{
  max-height: 200px;
  border: 1px solid grey;
}

#chartdiv {
  width: 100%;
  height: 500px;
}